/*Circle Loader*/

.link-loader {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: $base-color;
  animation-name: link-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.89,.36,.55,.57);
  position: relative;
  display: inline-block;
}

.light-loader {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left-color: $base-color;
}

.sm-loader,
.sm-loader:after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.md-loader,
.md-loader:after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.lg-loader,
.lg-loader:after {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $base-color;
  transition: border 500ms ease-out;
}

@keyframes link-spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}