.toogle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toogle-switch input {display:none;}

.sipper {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-300;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2px;
}

.sipper:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sipper {
  background-color: $base-color;
}

input:focus + .sipper {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sipper:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-label {
  line-height: 1.5rem;
}

/* Rounded sliders */
.sipper.round {
  border-radius: 34px;
}

.sipper.round:before {
  border-radius: 50%;
}